:root {
    --bg-principal: #363646;
    --grenn: #81DA62;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   

.clear {
    clear: both;
}

body {
    background-color: var(--bg-principal);
    height: 100%;
}

.bg {
    display: flex;
    height: 100%;
    padding-left: 50px;
}

.bg-image {
    position: absolute;
    bottom: 0px;
}

.container-form {
    width: 414px;
    height: 540px;
    background-color: white;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    border-radius: 55px;
}

.container-form h1 {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}

.div-input {
    margin-top: 45px;
    padding-left: 30px;
    padding-right: 30px;
}

.div-input label {
    font-size: 20px;
}

.div-input input[type=text],
.div-input input[type=email],
.div-input input[type=password] {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 0 2%;
}


.input-button input[type=button] {
    margin-top: 60px;
    width: 100%;
    height: 126px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    border: 0;
    background-color: var(--grenn);
    cursor: pointer;
    font-size: 25px;
}

.content {
    width: 400px;
    color: white;
    position: absolute;
    top: 150px;
    left: 260px;
}

.content h1:nth-child(2) {
    position: absolute;
    left: 150px;
}

.content h1:nth-child(3) {
    position: absolute;
    top: 100px;
    left: 150px;
}
.content h1:nth-child(4) {
    position: absolute;
    top: 150px;
    left: 150px;
}

